*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*--------------------------------------------------- Header Part ------------------------------------------ */

header{
    text-align: center;
    /* background-color:white; */
    /* background-image: linear-gradient(to left, yellow,red); */
}
.logo{
    width: 80px;
    height: auto;
    margin: 10px 0px 0px 10px;
}
header h1{
    display: inline-block;
    /* font-family: 'Charm', cursive; */
    font-family: 'Lobster', cursive;
    margin-top: 8px;
    background-image: linear-gradient(to left,red,rgb(182, 17, 182));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}

header i{
    float: right;
    margin: 33.5px 10px 0px 0px;
    font-size: 75%;
}
header h4{
    float: right;
    display: inline-block;
    margin: 30px 10px 0px 0px;
}
header ul{
    list-style-type: none;
    padding-top: 10px;
    text-align: right;
}
header ul li{
    display: inline-block;
    padding: 10px 10px 5px 10px;
}
header ul li a{
    color: orangered;
    padding-top: 10px;
    text-decoration: none;
}
header ul li:hover{
    background-color: black;
    
}
header ul li a:hover{
    color: antiquewhite;
}

/*--------------------------------------------------- Content Part ------------------------------------------ */
/* .welcome h1{
    top: 28%;
    left: 26%;
    background-image: linear-gradient(to right,yellow,rgb(255, 123, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} */

.img-container{
    width: 1135px;
    height: auto;
    overflow: hidden;
}
.img-content{
    position: relative;
    width: 10350px;
    overflow: hidden;
    animation-name: slideranime;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}
.img-content img{
    float: left;
    width: 1150px;
    height: 500px;
}
@keyframes slideranime{
    0%{
        left:0px;
    }
    11.1%{
        left: -1150px;
    }
    22.2%{
        left:-2300px;
    }
    33.3%{
        left: -3450px;
    }
    44.4%{
        left: -4600px;
    }
    55.5%{
        left:-5750px;
    }
    66.6%{
        left: -6900px;
    }
    77.7%{
        left: -8050px;
    }
    88.8%{
        left: -9200px;
    }
    100%{
        left: -10350px;
    }
}

.content{
    left: 25%;
    text-align: center;
    font-size: 125%;
    padding: 20px;
    /* border-radius: 10px; */
    background-color: rgba(0,0,0,0.5)
}
.content h3{
    color: chartreuse;
}

/*--------------------------------------------------- Footer Part ------------------------------------------ */

footer{
    /* position: absolute; */
    margin: 0;
    /* top: 100%; */
    display: flex;
    flex-flow: row wrap; 
    text-align: left;
    padding-top: 10px;
    background-image:url(footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.seller{
    width: 18%;
    padding-bottom: 10px;
}
.seller h3{
    padding: 10px 0px 10px 20px;
}
.seller a{
    text-decoration: none;
    color:black;
    padding-left: 20px;
}
.make_money{
    width: 32%;
    padding-bottom: 10px;
}
.customer_support{
    width: 25%;
    padding-bottom: 10px;
}
.social{
    width: 25%;
    text-align:center;
}
.social a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding-left: 10px;
}
.customer_support h3, .make_money h3{
    padding: 10px;
}

.customer_support a, .make_money a{
    text-decoration: none;
    color:black;
    padding-left: 10px;
}

.seller a:hover, .customer_support a:hover, .make_money a:hover, .social a:hover{
    color: red;
}
.input{
    height: 30px;
}
.subscribe{
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    background-color: black;
    padding: 7px;
}

break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}
.copyrights{
    background-color: black;
    width: 100%;
    color: white;
    display: inline;
    text-align: center;
}
.copyrights a,p{
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

